/*Strip the ul of padding and list styling*/
.nav-sigipro ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
        display: table;
}

/*Style for menu links*/
.nav-sigipro li a{
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #3C730D;
	text-decoration: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/*Hover state for top level links*/
.nav-sigipro li:hover a {
	background: #1E4B22;
}

/*Style for dropdown links*/
.nav-sigipro li:hover ul a {
	background: #A5CE4A;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
.nav-sigipro li:hover ul a:hover {
	background: #1E4B22;
	color: #fff;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.nav-sigipro{
    padding: 0px 0;
    background-color: #3C730D;
    display: block;
}

.nav-sigipro a
    {
        display: none;
        min-width:140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        background: #3C730D;
        text-decoration: none;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
.nav-sigipro li
    {
        position: relative;
    }

    /* first level */
 
.nav-sigipro > ul
    {
        height: 3.20em;
    }
.nav-sigipro > ul > li
        {
           
            height: 100%;
            float: left;            
        }
 
    /* second level */
 
.nav-sigipro li ul
    {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
    }
.nav-sigipro li:hover ul
        {
            display: block;
    	    background: #a5ce4a;
	        color: #fff;
        }

@media only screen and ( max-width: 640px ) /* 640 */
{
.nav-sigipro
    {
        position: relative;
    }
    .nav-sigipro > a
        {
        }
        .nav-sigipro:not(:target) >  a:first-of-type,
        .nav-sigipro:target >   a:last-of-type
        {
            display: block;
        }
 
    /* first level */
 
.nav-sigipro > ul
    {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
.nav-sigipro:target > ul
        {
            display: block;
        }
.nav-sigipro > ul > li
        {
            width: 100%;
            float: none;
        }
 
    /* second level */
 
.nav-sigipro li ul
    {
        position: static;
    }
}