/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 7, 2015, 11:30:51 AM
    Author     : Boga
*/

.sigipro-rabbit-group {
    padding-right: 0.5em;
}

.sigipro-mouse-1 {
    padding-right: 1em;
}

.sigipro-snake-1 {
    padding-right: 0.5em;
}