.botonCerrarSesion{
    border: none; 
    background-color: transparent;
    color: #fff;
    position:relative;
    display: block;
    outline: none;
}
.botonCerrarSesion:hover{
    color:#fff;
    cursor: pointer;
}
.tablaSigipro{
    font-size: 13px;
}

.input-group{
  display: block;
}