.botonCerrarSesion{
    border: none; 
    background-color: transparent;
    color: #fff;
    position:relative;
    display: block;
    outline: none;
}

.botonCerrarSesion:hover{
    color:#fff;
    cursor: pointer;
}

.tablaSigipro{
    font-size: 13px;
}

.input-group{
  display: block;
}

.alert-warning{
  background-color: #F0E39E;
}

.boton-accion{
  margin-left:5px !important;
  margin-right:5px !important;
  color:#fff !important;
  padding-top: 3px !important;
  font-family: "Helvetica Neue";
}

.campos-requeridos {
  padding-left: 1.5em;
}

.error-form {
  margin-bottom: 0px;
  color: red;
}

.cuadro-opciones {
    margin-right: 1em;
    padding-bottom: 1em;
}

.opciones {
    padding: 0px;
    margin: 0px;
    padding-left: 1em;
}

.tabla-ver td {
    padding-right: 1em;
}

.tabla-modal {
    width: 100%;
}

.tabla-modal td {
    padding-bottom: 0.5em;
}

.tabla-modal > tbody > tr > td:first-child {
    width: 35%;
}

.campo-tabla-centrado {
    text-align:center;
}

.sigipro-tab-content {
  padding: 0px;
}

.sigipro-nav-tabs li {
  float: right;
}

.cajas {
    width: 14em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.columna-escondida {
    display: none;
}

#dialogo-entregas {
    width: 1100px;
}

#tabla_informacion {
    width: 100%;
}

.dataTables_length {
    float: right;
}

.campo-subtotal {
    border-color: black !important;
}

.boton-observaciones {
    padding-left: 10px;
    font-size: 16px;
}

// Esto es agregó
.boton-observaciones:hover {
    padding-left: 10px;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}